.card-wrapper * {
    transition-timing-function: cubic-bezier(.35, .05, 0, 1);
    transition: 300ms;
}



.card-content {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: end;
}

.card-img-wrapper {
    margin-bottom: 1rem;
    border-radius: .5rem;
    overflow: hidden;
}


.card:hover .card-img {
    transform: scale(1.1);
}

.card:hover .text::before,
.link-underline:hover .text::before {
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 300ms;
}

.card:hover .icon,
.link-underline:hover .icon {
    color: var(--primary-700);
    height: 24px;
    transform: translate(15%, -15%);
}

.card-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;

}

.card:active {
    opacity: .95;
}

@media screen and (max-width: 1440px) {
    .card-wrapper {
        grid-template-columns: repeat(3, 1fr);

    }
}

@media screen and (max-width: 991px) {
    .card-wrapper {
        grid-template-columns: repeat(2, 1fr);

    }
}

@media screen and (max-width: 720px) {
    .card-wrapper {
        grid-template-columns: repeat(1, 1fr);

    }
}

.card:hover .card-img {
    filter: brightness(0.75);
    transition: 300ms;
}

.card {
    max-width: 420px;
    margin: 0 auto;
}

.card-title {
    font-size: var(--fsz-h4);
}

.card-caption {
    color: var(--primary-700);
}
