.navbar {
    display: flex;
    gap: var(--spacer-3);
    align-items: center;
    justify-content: space-between;
    height: 80px;

    color: var(--dark2);
}

.nav-wrapper {
    display: flex;
    gap: var(--spacer-4);
    list-style-type: none;
    align-items: center;
}

.nav-link {
    text-decoration: none;
    opacity: 0.8;
    transition: 300ms;
    display: block;
    color: inherit;
}

.nav-link:hover {
    opacity: 1;
    transform: scale(1.1);
    transition: 600ms cubic-bezier(0.16, 1, 0.3, 1);
}

.logo img {
    height: 32px;
    object-fit: contain;
}

#menu {
    position: absolute;
    right: 1.5rem;
    z-index: 10;
    user-select: none;
    display: none;
}

@media screen and (max-width: 768px) {
    .nav-wrapper {
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 100%;
        background-color: var(--primary-700);
        padding: 5rem;

        width: 100vw;
        height: 100dvh;
    }

    #menu {
        display: block;
    }

}