@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Geologica';
    font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
}

.display--large {
    /* Display/Large */
    font-size: 110px;
    line-height: 118px;
    /* 107.273% */
    letter-spacing: -5.5px;
}

.display-medium {
    /* Display/Medium */
    font-size: 68px;
    line-height: 76px;
    /* 111.765% */
    letter-spacing: -2.72px;
}

.display-small,
h1 {
    /* Display/Small */
    font-family: Geologica;
    font-size: 54px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px;
    /* 111.111% */
    letter-spacing: -2.16px;
}

.heading-large,
h2 {
    /* Heading/Large */
    font-size: 42px;
    line-height: 48px;
    /* 114.286% */
    letter-spacing: -1.26px;
}

.heading-medium,
h3 {
    /* Heading/Medium */
    font-size: 26px;

    line-height: 28px;
    /* 107.692% */
    letter-spacing: -0.39px;
}

.heading-small,
h4 {
    /* Heading/Small */
    font-size: 22px;

    line-height: 24px;
    /* 109.091% */
    letter-spacing: -0.315px;
}

.labels-large,
h5 {
    /* Labels/Large */
    font-size: 20px;

    line-height: 24px;
    /* 120% */
    letter-spacing: -0.254px;
}

.labels-medium,
h6 {
    /* Labels/Medium */
    font-size: 18px;

    line-height: 20px;
    /* 111.111% */
    letter-spacing: -0.202px;
}

.labels-small {
    font-size: 16px;
    line-height: 20px;
    /* 125% */

}

.paragraph-small,
p {
    font-size: 16px;
    line-height: 28px;
    /* 175% */
}

.paragraph-large {
    /* Paragraph/Large */
    font-size: 20px;
    line-height: 28px;
    /* 140% */
}

.paragraph-medium {
    /* Paragraph/Medium */
    font-size: 18px;
    line-height: 28px;
    /* 155.556% */
}

.labels-large {
    /* Labels/Large */
    font-size: 20px;
    line-height: 24px;
    /* 120% */
    letter-spacing: -0.254px;
}

.labels-medium {
    /* Labels/Medium */
    font-size: 18px;
    line-height: 20px;
    /* 120% */
    letter-spacing: -0.202px;
}


.labels-small {
    /* Labels/Small */
    font-size: 16px;
    line-height: 20px;
    /* 125% */
}

.caption-medium {
    color: #222;
    /* Caption/Medium */
    font-size: 14px;
    line-height: 16px;
}

.caption-small {
    color: #222;

    /* Caption/Small */
    font-size: 12px;
    line-height: 16px;
}

.caption-large {
    color: #222;
    /* Caption/Large */
    font-size: 16px;
    line-height: 20px;
}


.caption-x-large {
    color: #222;
    /* Caption/Large */
    font-size: 18px;
    line-height: 20px;
}

.fw-bold {
    font-weight: 450;
}

.fw-regular {
    font-weight: 300;
}

.text-mute {
    opacity: 60%;
}
